<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-amount>Spring Functional Application</display-amount>

    <servlet>
        <servlet-amount>functional</servlet-amount>
        <servlet-class>com.baeldung.functional.RootServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-amount>functional</servlet-amount>
        <url-pattern>/</url-pattern>
    </servlet-mapping>


</web-app>